<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
    <link rel="stylesheet"
        href="{{ url_for('static_files', path='/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="title">歡迎光臨，這是會員頁</div>
        <div class="content">
            <div class="row" id="welcome">{{ name }}，歡迎登入系統</div>
            <div class="row"><a href="/signout">登出系統</a></div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h2>查詢會員姓名</h2>
            <form class="get_member">
                <div class="row">
                    <input type="text" name="username">
                    <button>查詢</button>
                </div>
            </form>
            <div class="row">
                <p class="name_username"></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h2>更新我的姓名</h2>
            <form class="patch_member">
                <div class="row">
                    <input type="text" name="name">
                    <button>更新</button>
                </div>
            </form>
            <div class="row">
                <p id="status"></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h2>快來留言吧</h2>
            <form class="createMessage" action="/createMessage" method="post">
                <div class="row">
                    <label for="">內容</label>
                    <input type="text" name="message" class="message">
                </div>
                <div class="row">
                    <button>送出</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="content">
            {% for item in message %}
            <div class="row">
                <p>
                    <strong>{{ item[0] }}</strong>：{{ item[1] }}
                </p>
                {% if item[2] == member_id %}
                <form action="/deleteMessage" method="post"
                    class="deleteMessage">
                    <button name="message_id" value="{{ item[3] }}">X</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        let delBtns = document.querySelectorAll(".deleteMessage button");
        for (const delBtn of delBtns) {
            delBtn.addEventListener("click", () => {
                delBtn.setAttribute("type", "button");
                if (confirm("確定要刪除嗎？")) {
                    delBtn.setAttribute("type", "submit");
                }
            });
        }

        let srchForm = document.querySelector("form.get_member");
        srchForm.addEventListener("submit", async function (event) {
            event.preventDefault();
            let namePara = document.querySelector("p.name_username");
            let srchField = srchForm.querySelector("input");
            let action = `/api/member?username=${srchField.value}`;
            let res = await fetch(action);
            let result = await res.json();
            if (result.data) {
                namePara.innerText = `${result.data.name}(${result.data.username})`;
            } else {
                namePara.innerText = "查無資料";
            }
        });

        let patchForm = document.querySelector("form.patch_member");
        patchForm.addEventListener("submit", async function (event) {
            event.preventDefault();
            let headers = new Headers();
            headers.append("Content-Type", "application/json");
            let patchField = patchForm.querySelector("input");
            let body = { "name": `${patchField.value}` };
            body = JSON.stringify(body);
            let request = new Request("/api/member", {
                method: "PATCH",
                headers: headers,
                body: body,
            });
            let res = await fetch(request);
            let result = await res.json();
            let status = document.querySelector("#status");
            try {
                result["ok"];
                status.innerText = "更新成功";
                document.querySelector("#welcome").innerText = `${patchField.value}，歡迎登入系統`;
            } catch (error) {
                status.innerText = "更新失敗";
            }
        });
    </script>
</body>

</html>